
iCareer.xcodeproj/project.xcworkspace/xcuserdata/andy.xcuserdatad/UserInterfaceState.xcuserstate

iCareer.xcodeproj/project.xcworkspace/xcuserdata/yangrui.xcuserdatad/UserInterfaceState.xcuserstate

iCareer.xcodeproj/project.xcworkspace/xcuserdata/yangrui.xcuserdatad/UserInterfaceState.xcuserstate

iCareer/NBMainViewController/NBMainViewController.m
